.confirm {
    .middle {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .order-text {
        width: 150px;
    }
}

.content {
    height: auto;
}

.orderImg {
    max-width: 100%;
    height: 170px;
}