.card-picture {
    width: 350px;
    height: 350px;
}

.card-title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    @media (max-width: 768px) {
        font-size: 1rem;
    }
}

.card-button {
    position: absolute;
    bottom: 20px;
    @media (max-width: 375px) {
        bottom: -20px;
    }
}

.card-text {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.65rem;
    @media (max-width: 768px) {
        font-size: 0.77rem;
    }
}

.card-body-color {
    background-color: #EFEFEF;
}

.date-mobile {
    @media (max-width: 375px) {
        padding-top: 40px;
    }
}

.date {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Tenor Sans', sans-serif;
    flex-wrap: wrap;
    @media (max-width: 768px) {
        font-size: 0.2rem;
    }
}

.category-btn {
    @media(max-width: 375px) {
        width: 150px;
    }
}