input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.mr-0 {
    margin-right: 1rem;
}
.mr-1 {
    margin-right: 2rem;
}
.mr-2 {
    margin-right: 3rem;
}
.mr-3 {
    margin-right: 4rem;
}
.mr-4 {
    margin-left: 5rem;
}
.mr-5 {
    margin-left: 6rem;
}

m0-auto {
    margin: 0 auto;
}

.ml-0 {
    margin-left: 0rem;
}
.ml-1 {
    margin-left: 1rem;
}
.ml-2 {
    margin-left: 2rem;
}
.ml-3 {
    margin-left: 3rem;
}
.ml-4 {
    margin-left: 4rem;
}
.ml-5 {
    margin-left: 5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.pr-0 {
    padding-right: 0rem;
}

.pr-1 {
    padding-right: 1rem;
}

.pr-2 {
    padding-right: 2rem;
}

.pr-3 {
    padding-right: 3rem;
}

.pr-4 {
    padding-right: 4rem;
}

.pr-5 {
    padding-right: 5rem;
}

.pl-0 {
    padding-left: 0rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pl-2 {
    padding-left: 2rem;
}

.pl-3 {
    padding-left: 3rem;
}

.pl-4 {
    padding-left: 4rem;
}

.pl-5 {
    padding-left: 5rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


ul {
    list-style: none;
    padding: 0;
}

.font-color-primary {
    color: #FFFAFA;
}

.font-color-secondary {
    color: #FFFFFF;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.logo-color {
    color: #630834;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2.5rem;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5rem;
}

h3 {
    font-family: 'Noto Sans TC', sans-serif;
}

.font-size-bold {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2.5rem;
}

.font-size-Regular {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5rem;
}

.font-size-light {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
}

.mw-100p {
    max-width: 100%;
    height: auto;
}

.position-relative {
    position: relative;
}
